[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
tesseract = "*"
flask = "*"
flask-cors = "*"
python-dotenv = "*"
opencv-python = "*"
pytesseract = "*"

[dev-packages]

[requires]
python_version = "3.12"
